body {
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
 }
 
 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 80vh;
 }
 
 .form {
     background-color: #ffffff;
     padding: 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
     width: 355px;
     transition: box-shadow 0.35s ease, transform 0.5s ease, background-color 0.5s ease;
 }
 

 .form:hover {
     box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
     transform: scale(1.05);
 }
 
 .form:hover a{
     text-decoration-color: #333333;
 }
 
 .form h2 {
     margin-top: 0;
     margin-bottom: 30px;
     text-align: center;
     font-family: Lato, serif;
     color: #333333;
 }
 
 .form-group {
     margin-bottom: 25px;
 }
 
 .form-group label {
     margin-bottom: 10px;
     text-align: center;
     font-family: Montserrat, serif;
     color: #666666;
 }
 
 .form-group input {
     width: 95%; 
     padding: 12px;
     border: 1px solid #cccccc;
     border-radius: 8px;
     transition: border-color 0.3s ease;
     color: #555555;
 }
 
 .form-group input:focus {
     border-color: #4CAF50;
 }
 
 button {
    width: 75%;
    padding: 12px;
    font-size: 15px;
    font-family: Montserrat, serif;
    border: none;
    border-radius: 8px;
    text-align: left;
    background-color: white;
    color: black;
    border: 1px solid #cccccc;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.5s ease, width 0.4s ease, box-shadow 0.7s ease;
}

button:hover {
    width: 100%;
    border-color: black;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}


 
 a{
     color: #666666;
 }
 